# ----------------------------------------------------------------------------------------------------------
# Environment Variables
# ----------------------------------------------------------------------------------------------------------
# Traefik Hostname
# Options: getmail.network.local.com, getmail.network.staging.com
TRAEFIK_HOSTNAME=""

# ----------------------------------------------------------------------------------------------------------
# Application Variables
# ----------------------------------------------------------------------------------------------------------

# Maximum number of messages to store
MP_MAX_MESSAGES=500
# Allow insecure SMTP authentication
MP_SMTP_AUTH_ALLOW_INSECURE=true
# Accept any SMTP authentication
MP_SMTP_AUTH_ACCEPT_ANY=true
