# ----------------------------------------------------------------------------------------------------------
# Environment Variables
# ----------------------------------------------------------------------------------------------------------
# Traefik Hostname
# Options: pga.network.local.com, pga.network.staging.com
TRAEFIK_HOSTNAME="pga.network.local.com"

# ----------------------------------------------------------------------------------------------------------
# Application Variables
# ----------------------------------------------------------------------------------------------------------

PGADMIN_DEFAULT_EMAIL=muhammadrahban4@gmail.com
PGADMIN_DEFAULT_PASSWORD=12345678
PGADMIN_LISTEN_ADDRESS=0.0.0.0
PGADMIN_LISTEN_PORT=5050