# ----------------------------------------------------------------------------------------------------------
# traefik.network.XXXXXXXX.com Environment Variables
# ----------------------------------------------------------------------------------------------------------
# Set Environment
# Options: local, staging, production
ENVIRONMENT="local"

# Cloudflare API Token & Email for DNS Challenge
CF_API_KEY=""
CF_DNS_API_TOKEN=""
CF_API_EMAIL="muhammadrahban4@gmail.com"

# Traefik Dashboard
# User: treafik
# Password: 12345678
# --------------------------------------------------------------------------------------------
# To generate a new password for the Traefik dashboard, run the following command:
# Run > echo $(htpasswd -nB treafik) | sed -e s/\\$/\\$\\$/g
# --------------------------------------------------------------------------------------------
TRAEFIK_DASHBOARD_CREDENTIALS=""

# Traefik Hostname
# Options: traefik.network.local.com, traefik.network.staging.com
TRAEFIK_HOSTNAME="traefik.network.XXXXXXXX.com"

# Traefik Main Domain
# Options: local.network.com, staging.network.com, network.com
TRAEFIK_MAIN_DOMAIN="XXXXXXXX.network.com"

# Traefik Sans Domain
# Options: *.local.network.com, *.staging.network.com, *.network.com
TRAEFIK_SANS_DOMAIN="*.XXXXXXXX.network.com"
