# ----------------------------------------------------------------------------------------------------------
# Environment Variables
# ----------------------------------------------------------------------------------------------------------
# Traefik Hostname
# Options: pma.network.local.com, pma.network.staging.com
TRAEFIK_HOSTNAME="pma.network.local.com"

# ----------------------------------------------------------------------------------------------------------
# Application Variables
# ----------------------------------------------------------------------------------------------------------

PMA_HOST=service-mysql
PMA_PORT=3306
MAX_EXECUTION_TIME=3000
MEMORY_LIMIT=512M
UPLOAD_LIMIT=120M
