# ----------------------------------------------------------------------------------------------------------
# Environment Variables
# ----------------------------------------------------------------------------------------------------------
# Traefik Hostname — public LL-HLS endpoint that viewers connect to.
# Options: hls.network.local.com, hls.network.staging.com
TRAEFIK_HOSTNAME="hls.network.local.com"
