# ----------------------------------------------------------------------------------------------------------
# Environment Variables
# ----------------------------------------------------------------------------------------------------------
# Traefik Hostname
# Options: livekit.network.local.com, livekit.network.staging.com
TRAEFIK_HOSTNAME="livekit.network.local.com"
