# ----------------------------------------------------------------------------------------------------------
# Environment Variables
# ----------------------------------------------------------------------------------------------------------
# Traefik Hostname
# Options: portainer.network.local.com, portainer.network.staging.com
TRAEFIK_HOSTNAME="portainer.network.local.com"

# ----------------------------------------------------------------------------------------------------------
# Application Variables
# ----------------------------------------------------------------------------------------------------------
# No additional application variables needed for Portainer CE