# ----------------------------------------------------------------------------------------------------------
# Application Variables
# ----------------------------------------------------------------------------------------------------------

MYSQL_ROOT_PASSWORD=12345678
MYSQL_DATABASE=defaultdb
MYSQL_USER=doadmin
MYSQL_PASSWORD=12345678
