# ----------------------------------------------------------------------------------------------------------
# Environment Variables
# ----------------------------------------------------------------------------------------------------------
# Traefik Hostname
# Options: webs3.network.local.com, webs3.network.staging.com
TRAEFIK_HOSTNAME="webs3.network.local.com"

# Traefik Hostname
# Options: s3api.network.local.com, s3api.network.staging.com
TRAEFIK_HOSTNAME_API="s3api.network.local.com"

# ----------------------------------------------------------------------------------------------------------
# Application Variables
# ----------------------------------------------------------------------------------------------------------

MINIO_BUCKET=docs
MINIO_REGION=lon1
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=12345678
ACCESS_KEY=access-key
SECRET_KEY=secret-key
